<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Who's in?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row mb-3 mt-4">
        <div class="col">
            <h1 class="text-center">Who's in?</h1>
        </div>
    </div>
</div>

<div class="container" id="connection-container">
    <div class="row mb-3">
        <div class="col">
            <form class="d-flex justify-content-center" id="connection-form">
                <input id="token-input" type="text" class="form-control w-25 me-2" placeholder="auth token" name="token" autocomplete="off" required>
                <button class="btn btn-primary">Connect!</button>
            </form>
        </div>
    </div>
</div>

<div class="container d-none" id="app-container">
    <div class="row mb-3">
        <div class="col">
            <h3 class="text-center">Hello, <span id="greetingUsername"></span>!</h3>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="form-check form-switch d-flex justify-content-center">
                <input class="form-check-input me-2" type="checkbox" role="switch" id="im-in-checkbox">
                <label class="form-check-label" for="im-in-checkbox">I'm in!</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="text-center">People in: <span id="people-in-indicator">0</span></p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

<script>
    const connectionContainer = document.getElementById('connection-container');
    const appContainer = document.getElementById('app-container');
    const connectionForm = document.getElementById('connection-form');
    const tokenInput = document.getElementById('token-input');
    const peopleInIndicator = document.getElementById('people-in-indicator');
    const imInCheckbox = document.getElementById('im-in-checkbox');
    const greetingUsername = document.getElementById('greetingUsername');

    let ws;

    function reset() {
        appContainer.classList.add('d-none');
        peopleInIndicator.innerText = '0';
        imInCheckbox.checked = false;
        tokenInput.value = '';
        connectionContainer.classList.remove('d-none');
    }

    function connect(token) {
        ws = new WebSocket('ws://localhost:8000/ws');
        ws.onclose = (event) => {
            console.debug('connection closed', event);
            reset();
        }
        ws.onmessage = (event) => {
            // A message arrival indicates authentication success here,
            // therefore we hide the connection container and show the app.
            connectionContainer.classList.add('d-none');
            appContainer.classList.remove('d-none');
            // Handle incoming data.
            const data = JSON.parse(event.data);
            console.debug('ws >>', data);
            if (data.people_in != null) {
                peopleInIndicator.innerText = data.people_in;
            }
            if (data.im_in != null) {
                imInCheckbox.checked = data.im_in;
            }
            if (data.username != null) {
                greetingUsername.innerText = data.username;
            }
        };
        ws.onopen = (event) => {
            console.debug('connection open', event);
            ws.send(JSON.stringify({token}));
        }
    }

    connectionForm.addEventListener('submit', (event) => {
        event.preventDefault();
        console.debug(event);
        const formData = new FormData(event.target);
        console.debug('token:', formData.get('token'));
        connect(formData.get('token'));
    });

    imInCheckbox.addEventListener('change', (event) => {
        if (event.currentTarget.checked) {
            console.debug("I'm in!");
            ws.send(JSON.stringify({im_in: true}));
        } else {
            console.debug("I'm out!");
            ws.send(JSON.stringify({im_in: false}));
        }
    });
</script>
</body>
</html>